canvas {
  background-color: black;
  margin-top: 50px;
}

h1 {
  color: white;
  text-align: center;
}

body {
  background-color: green;
}

.sidecover {
  position: fixed;
}

.game {
  position: relative;
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

#background {
  height: 700px;
  width: 700px;
}

#frogger {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50px;
  left: 300px;
  transform: rotate(180deg);
}

.largeTruck {
  position: absolute;
  top: 400px;
  height: 45px;
  width: 100px;
  transform: rotate(180deg);
  left: 0px;
}

.fastCar {
  position: absolute;
  top: 600px;
  width: 50px;
  transform: rotate(180deg);
  left: 0px;
}