body {
  background-color: green;
}

h1 {
  color: white;
  text-align: center;
}

////timer////
#timer {
  display: inline-table;
  text-align: center;
  height: 20px;
  background: #777;
  border-radius: 25px;
  padding: 5px;
  width: 50px;
}

#timer div {
  text-align: center;
  padding: 5px;
  border-radius: 3px;
}

#timer span {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}

.text {
  padding: 5px;
  font-size: 16px;
}
///////

.game {
  display: flex;
  justify-content: center;
}

#background {
  position: absolute;
  height: 700px;
  width: 700px;
}

#frogger {
  height: 50px;
  width: 50px;
  position: relative;
  top: 0px;
  left: 300px;
  transform: 180;
}
